@import "../../../styles/variables";

.clheader {
  display: flex;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid $divider;

  &__column {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    p {
      text-transform: uppercase;
      color: $textDefault;
      font-size: 14px;
    }

    &--coin {
      width: 100%;

      @media screen and (min-width: $mobileWidth) {
        width: 40%;
      }
    }

    &--change {
      display: none;
      width: 60%;

      @media screen and (min-width: $mobileWidth) {
        display: flex;
      }
    }

    &--price {
      justify-content: end;
      width: 150px;
    }
  }
}
