// Media Query - variables
$mobileWidth: 700px;

// Colors - Text
$textDark: rgba(0, 0, 0, 1);
$textDefault: rgba(0, 0, 0, 0.45);

// Colors - Normal
$background: #ffffff;
$backgroundHover: #f6f6f8;
$divider: #b6b9c4;

$green: #39cc64;
$red: #f03a3e;
