.coinspage {
  max-width: 1000px;
  width: 100%;
  height: auto;

  &__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80px;
  }

  &__main {
    width: 100%;
    height: auto;
  }
}
